<div class="container mt-5">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Dodaj trening</mat-card-title>
    </mat-card-header>

    <form
      [formGroup]="trainingFormGroup"
      (ngSubmit)="onSubmit()"
    >
      <mat-form-field>
        <mat-label>Wybierz dzień</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date" />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Długość treningu</mat-label>
        <input type="number" matInput formControlName="duration" />
        <span matTextSuffix>min</span>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Spalone kalorie</mat-label>
        <input type="number" matInput formControlName="calories" />
        <span matTextSuffix>kcal</span>
      </mat-form-field>
      <mat-form-field class="custom-field">
        <mat-label>Uwagi do treningu</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        type="submit"
      >
      {{ isEditMode ? "Aktualizuj" : "Dodaj" }}
      </button>
    </form>
  </mat-card>

  <table class="table mt-5">
    <thead>
      <tr>
        <th scope="col">Opis treningu</th>
        <th scope="col">Data treningu</th>
        <th scope="col">Długość treningu</th>
        <th scope="col">Spalone kalorie</th>
        <th scope="col">Zarządzaj treningiem</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr *ngFor="let training of trainings">
        <td class="col-md-4">{{ training.description }}</td>
        <td class="col-md-2">{{ training.date | date: 'yyyy-MM-dd'}}</td>
        <td class="col-md-2">{{ training.duration }} min</td>
        <td class="col-md-2">{{ training.calories }}</td>
        <td class="col-md-4">
          <button mat-icon-button aria-label="Edytuj" (click)="handleUpdateTraining(training)">
            <mat-icon
              color="primary"
              aria-hidden="false"
              aria-label="Ikona ołówka"
              fontIcon="edit"
            ></mat-icon>
          </button>
          <button
            mat-icon-button
            aria-label="Usuń"
            (click)="deleteTraining(training.id)"
          >
            <mat-icon
              color="accent"
              aria-hidden="false"
              aria-label="Ikona kosza"
              fontIcon="delete"
            ></mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="average-time">
    Średni czas treningu: {{ averageDuration }} min
  </div>
</div>
